* {
  margin: 0;
  padding: 0;
}
.container {
  height: auto;
  width: 90%;
  margin: 0px auto;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.men .navlink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  font-family: sans-serif;
}
.navlink li {
  list-style-type: none;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .hero-image-containero {
  height: 20px;
}
.card .hero-image-containero img {
  height: 100%;
  width: 100%;
}

.button .sign {
  border: none;
  margin: 2px 20px;
}
.button .blocks {
  height: 35px;
  width: 100px;
  background-color: black;
  color: aliceblue;
  border-radius: 7px;
}
.web {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 550px;
  margin-top: 60px;
}
.web .page {
  height: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.web .page h1{
    font-size: 50px;
    
}
.web .page p{
    font-size: x-large;
    /* word-break: break-all; */
    gap: 5px;
}
.page .email{
    display: flex;
    gap: 10px;
}
.page .email .input{
    height: 40px;
    width: 25rem;
    border-radius: 10px;
}
.web .page .offer{
    border-radius: 10px;
    font-size: small;
    height: 40px;
    width: 160px;
    background-color: black;
    color: antiquewhite;
}
.page .pairagraf p{
    font-size:16px ;
}
.web .images img {
  height: 550px;
  width: 600px;
}
.client{
    padding: 112px 32px;
}
.client .some h3{
    text-align: center;
}
.companiy{
    height:auto;
    width: 100%;
}
.client .companiy{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
}
.companiy .coinbase img{
    height: 95px;
    width: 170px;
    gap: 6px;
}
.base{
  text-align: center;
}
  .base h1{
    margin: 15px;
    font-size: 37px;
}
.base p{
  font-size: 22px;
  word-spacing: 2px;
}
.development{
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  justify-content: center;
}
.app{
  height: auto;
  width: 350px;
  margin-top: 90px;
}
.app .icon{
  height: 70px;
  width: 80px;
 margin: 0px auto;
  
}
.app .icon img{
  height: 100%;
  width: 100%;
  
}
.app .frontend{
text-align: center;
/* border: 1px solid olivedrab;  */
/* margin: 20px; */
}
.app .frontend h2{
  margin: 20px;
}
.app .frontend p{
  font-size: 22px;
  word-spacing: 1.5px;
}
.My-Projects{
height: auto;
width: 100%;
margin-top: 100px;
}
.project{
  text-align: center;
}
.project h1{
  font-size: 38px;
  margin-bottom: 28px;

}
.project p{
  font-size: 22px;
  height: auto;
  width: 100%;
}
.mobile-app{
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 18px;
  width: 100%;
}
.mobile-app .aboutus{
  height: auto;
  width: 300px;
  gap: 8px;
}
.aboutus .help img{
  height: 100%;
  width: 100%;
}
.aboutus .about h1{
   font-size: 22px;
   margin: 17px 0px;
}
.aboutus .about p{
  font-size: 20px;
  margin:17px 0px ;
}
.aboutus .about .submit{
  height: 35px;
  width: 120px;
  border-radius: 8px;
  background-color: black;
  color: aliceblue;
}
.resume{
  display: flex;
  justify-content: space-between;
  margin: 180px 0px;
}
.resume .profail{
  width: 40%;
  
}
.resume .profail h2{
  font-size: xx-large;
  margin-bottom: 30px;
}
.resume .profail p{
  font-size: 20px;
  line-height: 30px;
} 
.resume .profail .VIEW{
  margin-top:20px;
  border: none;
  font-size: 18px;
  padding: 12px 28px;
  background: none;
  cursor: pointer;
  border-radius: 8px; 
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.VIEW:hover{
  background: #ddd !important;
}
 .VIEW img{
  height: 20px;
  width: 16px;
 
}
.skill{

}
.skill .Bachelor{
  display: flex;
  gap: 22px;
  line-height: 36px; 
}
.IMAGES1 img{
  height:45px;
  width:45px;
  padding:12px;
  background-color:rgb(172, 163, 84);
  border-radius:12px;
}
.manager{
  height: auto;
  width: 100%;
}
.Clients{
  text-align: center;
}
.Clients h1{
  font-size: 36px;
  padding-bottom: 12px;
}
.Clients p{
  font:20px roboto,sans-serif;
  margin: 0px 159.016px 0px 159px;
  padding: 0px 16px;
}
.Mobile-App{
  display: flex;
  justify-content:space-between ;
  /* border: 1px solid #01060c; */
  margin: auto;
  margin-top:125px;
  width: 70%;
  height: 448px;
  padding: 32px 0px;
}
.Mobile-App .marketing h1{
  font: 30px roboto,sans-serif;
  margin: 0px 0px 16px;
  color: rgb(34, 24, 24);
  width: 320px;
  height: 82.5px;
}
.Mobile-App .marketing p{
  font: 16px roboto,sans-serif;
  margin: 0px 0px 12px;
  width: 389.33px;
  line-height: 31px;
  
}
.Mobile-App .marketing h3{
  font: 22px roboto,sans-serif;
  margin: 0px 0px 2px;
  height: 26px;
  color: black;
}
.Mobile-App .marketing h4{
  font: 16px roboto,sans-serif;
  margin: 0px 0px 20px;
  height: 21px;
  color: black;
}
 .icon-e {
  display: flex;
  height: 36px;
  width: 50%px;
  gap: 30px;
  /* background-color: #01060c; */
}
.icon-e img{
width: 36px;
height: 36px;
border-radius: 5px;

}
.image-border{
  border-left: 1px solid #000;
}
.Mobile-App .images img{
  width: 288px;
  height: 336px;
  border-radius: 12px;
  /* margin-right: 125px; */
}
.popular{
  text-align: center;
}
.popular p{
  height: 25.98px;
  font: 16px roboto,sans-serif;
  margin: 0px 0px 16px;
}
.popular h1{
  height: 93.55px;
  font: 36px roboto,sans-serif;
  margin: 0px 0px 16px;
}
.compani{
  width: 100%;
  height: 80px;
  margin: 32px 0px 0px;
  display: flex;
  justify-content: space-between;
}
.compani img{
height: 80px;
width: 160px;
}
.Contact-Us{
padding: 0px 0px 20px;
}

.conten{
  text-align: center;
  height: 173.5PX;
  margin: 80PX 0PX;
}
.conten H1{
  height: 60PX;
  font: 48PX ROBOTO,SANS-SERIF;
  margin: 0PX 0PX 16PX;
}
.conten P{
  height: 97.5PX;
  font: 20PX ROBOTO,SANS-SERIF;
  margin: 0px 381.66px 0px 341px;
  line-height: 28px;
}
.contact-1{
  display: flex;
  /* justify-content: space-between; */
  height: 554.36px;
  width: 1306.02px;
  flex:auto;
  padding: 24px;
  border: 1px solid gray;
  border-radius: 4px;
}
.information{
  height: 422.29px;
  width: 476.39px;
  padding: 64px;
  background-color: rgb(134, 68, 68);
  border: 1px solid black;
  border-radius: 7px;
}
.information h6{
  height: 32.99px;
  font: 24px roboto ,sans-serif;
  margin: 0px 0px 8px;
  color: hsl(0, 7%, 87%);
}
.information p{
  color: #ddd;
  font: 16px roboto,sans-serif;
  margin: 0px 0px 32px;
}
.information .icon-2{
  display:flex ;
  gap: 16px;

}
.input{
  height: 422.29px;
  width: 506.39px;
  padding: 20px 70px;
}
.input .in{
  display: flex;
 
justify-content: space-between;
  
}
.input .in label{
  font: 22px roboto,sans-serif ; 
  color: rgb(32, 168, 61);
}
.input .in input{
 padding: 20px 1px 8px;
 width: 150%;
  border:none;
  border-bottom: 1px solid #1890ff;
  outline: none;
}
.email{
  margin: 16px 0px 0px;
}
.email label{
  font: 21px roboto,sans-serif;
  color: rgb(32,168,16);
  
}
.email input{
  padding: 20px 1px 8px;
  width: 100%;
  border:none;
  border-bottom: 1px solid #1890ff;
  outline: none;
} 
.chooz{
  margin: 32px 0px ;
}
.chooz p{
  height: 20px;
  font: 18px roboto,sans-serif;
  margin: 0px 0px 8px;
  color: rgb(59, 207, 109);
}

 .for{
  display: flex;
  gap: 16px;
  margin-top: 20px;
  text-align: center;
 }
 
 .for label{
  align-items: center;
  height: 24px;
  font: 18px roboto,sans-serif;
  margin: 1px 0px 0px;

 }
 .your-message{
  margin-bottom: 15px;
 }
 .your-message label{
  display: block;
  margin-bottom: 5px;
  font-size: 21px;
  color: rgb(3, 20, 20);
 }
 .your-message textarea{
width: 100%;
padding: 10px;
border: 1px solid #ccc;
font-size: 14px;
box-sizing: border-box;
border: none;
outline: none;
border-bottom: 1px solid black;
 }
  .ccco button{
  
  padding: 13px 20px;
  background-color: #01060c;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  float: right;
 }


 @media (max-width: 768px) {
  .project {
      flex-direction: column;
  }
}